
#main {
    margin-top:40px;

}


.manage {
    background: none repeat scroll 0 0 #FFFFFF;
    border: thin ;
    padding: 20px;
}

.fixed-height {

    max-height: 200px;
    overflow-y: auto;
}










