/* main elements */

body,div,td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666;
}

body {
	background-color:#F0F0F3;
	text-align: center;
}

#header {
	margin-bottom: 1em;
}

#wrapper {
	width:800px;
	min-width: 800px;
	max-width: 800px;
	margin-right: auto;
	margin-left: auto;

	/* fix max-width incompatibility in IE6 */
	width:expression(document.body.clientWidth > 800? "800px": "auto" );
	
	overflow:hidden;
	display:block;
}

/* header and footer elements */

#main {
	overflow:hidden;
	display:box;
}

#menu {
    background: #eee;
  	position:relative;
  	float:left;  	
  	left:0px;
  	width:220px;
  	margin-right:15px;
}

#menu ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

#menu ul li{
	padding: 0px;
}


#menu a, #menu h2 {
	display: block;
	margin: 0;
	padding: 2px 6px;
	color:#FFFFFF;
}

#menu h2 {
	color: #fff;
	background: #648C1D;
	text-transform: uppercase;
	font-weight:bold;
	font-size: 12px;
}

#menu a {
	color: #666666;
	background: #efefef;
	text-decoration: none;
	padding: 2px 12px;
}

#menu a:hover {
	color: #648C1D;
	background: #fff;
}

#footer {
	background:#fff;
	border:none;
	margin-top:15px;
	border-top:1px solid #999999;
}

#footer .new {
	float:left;
}

#footer a:link {color: #7db223;}

.quicklinks {
	clear:both; 
	padding-bottom: 15px
}
.quicklinks span {
	float: right;
}

table.navigation {
	border: 0px;
}

label {
	width:100px;
	float:left;
	margin-left: 5px;
	margin-top: 0px;
}

input, button {
	height:20px;
}

input, textarea, select, button {
	border:1px solid #B3B3B3;
}

input.image {
	border: none;
	height: auto;
}

submit {
	height:25px;
}

div {
	text-align: left;
}

div .box {
	display:block;
	margin-left:105px;
}

/* menu elements*/

a.menu, a.menu:link, a.menu:visited {display:block; width:150px; height:25px;} 
	
/* text styles */

h1,h2,h3 {
	font-family: Helvetica, sans-serif;
	color: #7db223;
}

h1 {
	font-size: 20px;
	line-height: 26px;
}

h2 {
	font-size: 18px;
	line-height: 20px;
}

h3 {
	font-size: 15px;
	line-height: 21px;
	color:#555;
}

h4 {
	font-size: 14px;
	line-height: 20px;
}

.errors {
	color: red;
	font-weight: bold;
	display: block;
	margin-left: 105px;
}

a {
	text-decoration: underline;
	font-size: 12px;
}

a img {
	border: 0 none;
	vertical-align: middle;
}

tr:nth-child(odd) {
	background-color: #FFFFFF;
}

tr:nth-child(even) {
	background-color: #EFEFEF;
}

a:link {
	color: #7db223;
}

a:hover {
	color: #456314;
    cursor: pointer;
}

a:active {
	color: #7db223;
}

a:visited {
	color: #7db223;
}

li {
	padding-top: 5px;
	text-align: left;
}

ul li {
	margin:0 0 0.25em 0;
	padding:0;
}
/* table elements */

table {
	background: #EEEEEE;
	margin: 2px 0 0 0;
	border: 1px solid #BBBBBB;
	border-collapse: collapse;
	width: 100%
}

table table {
	margin: 0px 0;
	border: 0px solid #e0e7d3;
	width: 100%;
}

table td,table th {
	padding: 2px;
	border: 1px solid #CCCCCC;
}

table td form {
	text-align:center;
	vertical-align: middle;
	margin: 0px;
}

table th {
	font-size: 0.9em;
	text-align: left;
	font-weight: bold;
	color: #FFF;
	background: #999;
}

table thead {
	font-weight: bold;
	font-style: italic;
	background-color: #BBBBBB;
}

table a:link {color: #303030;}

caption {
	caption-side: top;
	width: auto;
	text-align: left;
	font-size: 12px;
	color: #848f73;
	padding-bottom: 4px;
}

fieldset {
	background: #e0e7d3;
	padding: 8px;
	padding-bottom: 22px;
	border: none;
	width: 560px;
}

fieldset label {
	width: 70px;
	float: left;
	margin-top: 1.7em;
	margin-left: 20px;
}

fieldset textfield {
	margin: 3px;
	height: 20px;
	background: #e0e7d3;
}

fieldset textarea {
	margin: 3px;
	height: 165px;
	background: #e0e7d3;
}

fieldset input {
	margin: 3px;
	height: 20px;
	background: #e0e7d3;
}

fieldset table {
	width: 100%;
}

fieldset th {
	padding-left: 25px;
}

.table-buttons {
	background-color:#fff;
	border:none;
}

.table-buttons td {
	border:none;
}

.submit input {
	border: 1px solid #BBBBBB;
	color:#777777;
	padding:2px 7px;
	font-size:11px;
	text-transform:uppercase;
	font-weight:bold;
	height:24px;
}

.updated {
	background:#ecf1e5;
	font-size:11px;
	margin-left:2px;
	border:4px solid #ecf1e5;
}

.updated td {
	padding:2px 8px;
	font-size:11px;
	color:#888888;
}

.dijitTextArea{
    min-height:5.5em !important;
    max-height:22em !important;
    overflow-y: auto !important;
    max-width: 175px;
}

.RichTextEditable{
    min-height:18em !important;
    max-height:18em !important;
}

.flag {
	height: 11px;
	width: 16px;
}

/* app specific styles */
li.ui-draggable-dragging {list-style-type: none}
.dragsource, .sortable { list-style-type: none; margin: 0; padding: 5px; height:86%; background: white}
li.draggable, .dragsource li, .sortable li { margin: 3px; padding: 6px; text-align:center  }
li.draggable, .dragsource li, .sortable li { background: #666655; color: #DDDDDD; font-size:14px; cursor:move }
.sortable li.ui-state-highlight { height: 1.0em; border:none; width:150px; background: #F0F010 }
.grid li {float:left};


li.tile {margin: 3px; padding: 3px; text-align:center; height: 1.2em; line-height: 1.2em; border: none; background: #F0F0F0;}

li.tile.neighbor {
    background: none repeat scroll 0 0 #3377BB;
}

li.tile.neighbor.placed {
    background: none repeat scroll 0 0 #CCCCCC;
    color: #999999;
}

div#checkingBrowser, div#noBrowserSupport {
    text-align: center;
    font-size:40px;
    margin: 40px;

}


div#turksnet ul {

    overflow-y: auto;
}


div#neighbors, div#private {
    background: #F0F0FC;
    margin: 15px;
}

div#neighbors {
    width:500px;
}

div#header {
   font-style: italic;
    font-weight:bold;
    font-size:14px;
   text-align: center;

}

div#header a#feedbackLink {
    font-size: 14px;
}

span#rounds {
    float:left;
}

span#feedback {
    float:right;

}

a#feedbackLink {
    color:#DDAA00;
}

a#feedbackLink:visited {
    color:#BB7700;
}

div.deletemark {
    float:right;
    margin-left: 5px;
    margin-right: -3px;
    margin-top: -3px;
    padding: 1px 2px;
    border: thin solid black;
    background: white;

}

span.expandlink {
    color: #555555;
    float: right;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    margin-right: 24px;
    text-decoration: underline;

}

div.deletemark a {
    font-size: 11px;
    font-weight:bold;
    text-decoration: none;
}

div#private {
    width:200px;
}

div#neighbors ul.sortable {
    list-style: none inside;

}

div#neighbors ul.sortable>li {
    display: inline;

}

div#buttons {
    text-align: center;
}

div#buttons button, div#buttons input {
    font-size: 18px;
    border-width: 3px;
    margin-left:10px;
    margin-right:10px;
    display:inline;
    height:auto;
}

div#thanks {
    text-align: center;
    font-size:18px;
    margin: 40px;
}

div#buttons button:hover, div#buttons input:hover {
    background: #F0F010;
}

div#buttons form {
    display:inline;
    vertical-align: top;
}

div#intro h3 {
    margin-right:100px;
    margin-left:100px;
    border-bottom:  thin solid;
    text-align: center;
}

div#intro a {
   font-size:14px;
}






table.layout tr td.buttonrow {
    background: #446644;
}

table.layout {
    margin-top:54px;
    border: none;
    background: #446644;
}

table.layout tr.content>td {
    height: 300px;
}


table.layout tr td {
    padding: 10px;
    background: #EEEEEE;
    border: 10px solid #446644;
    vertical-align: top;
    height: 100%;

}

table.layout-inner tr td {
    height:300px;
    border: none;

}

td.seventy {
    width:70%;
}

td.hundred {
    width:100%;
}




.clear {
    float:none;
}

.hidden {
    display:none;
}


div.label {
    font-family: Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 14px;
    border: thin solid gray;
    padding: 6px;
    background: #CCCCCC;

}

div.neighborview {
    height:100%;
    background: #FFFFFF;
}

div#intro {
    background: none repeat scroll 0 0 #FFFD99;
    border: thin solid #887700;
    font-size: 14px;
    padding: 5px;
    position: absolute;
    width: 788px;
}


div#selection-panel {
    width: 110px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background:  #F0F0F0;
    border: solid thin gray;
}

div#public {
    height: 200px;
    margin: 10px;
    background:#F9F9F9;
}

ul#selection {
    list-style: none;
    padding: 5px;
    margin-bottom:0;
    margin-top:0;
    width:90px;
    height:96%;
    background: #CCCCCC;
}

ul#selection li {
    text-align: center;
    padding: 5px;
    background: #FCFCFC;
    margin-bottom: 0px;
    margin-top:0px;
    margin-left:0px;
    margin-right:0px;

}

ul#selection li.nb-selected {
    background: #ffff00;

}

ul#selection li:hover {
    background:  #ffff00;
    cursor: pointer;
}

div#display-panel {
    background:  #F9F9F9;
    width:100%;
    height:100%;
}



